{% extends 'newshub/framework/base.html' %}
{% load staticfiles widget_tweaks%}
{% block content %}
<div class="row article-forms">
	<div class="col-md-8 col-md-offset-2">
	<div class="post-tools">
		{% if not add %}
			<a href="{% url 'newshub:view_article' pk=form.instance.pk %}" class="btn btn-default">View</a>
		{% endif %}
	</div>
</script>

		<form method="post" action="">
			{% csrf_token %}
			{% for field in form%}
			<div class="form-group {%if field.errors %}has-feedback has-error{%endif%}">
				<label for="{{field.id_for_label}}">{{field.label}}</label>
				{% if field.html_name == 'published' %}
					{{field}}
				{% else%}
					{% render_field field placeholder=field.label class='form-control' autocomplete='off'%}

	                {% for error in field.errors %}
	                     <span class="help-block">
	                        {{error}}
	                     </span>
	                {% endfor %}
	            {%endif%}
			</div>
			{% endfor %}
			<div class="post-tools">
				<input class="btn" type="submit" name="action" value="Save"/>
				<input class="btn" type="submit" name="action" value="Publish"/>
			</div>
		</form>
	</div>
</div>
{% endblock %}