<ul class="nav nav-pills nav-stacked">
	{% if article.author.user != request.user %}
	<li class="like-button">
		<p class="{% if request.user in article.likes.all %}active{%endif%}"
			data-article-id="{{article.pk}}">
			<!--<i class="fa fa-thumbs-o-up"></i> -->
			{% if request.user in article.likes.all %}
			<span class="like-like">&#10004;</span>
			<span class="like-liked" style="display: none;">+</span>
			<span class="like-text">
				LIKED
			{% else %}
			<span class="like-like" style="display: none;">&#10004;</span>
			<span class="like-liked">+</span>
			<span class="like-text">
				LIKE
			{% endif %}
			</span>
		</p>
	</li>
	<li class="header"><p>Feedback<p></li>
	{% for feedback in feedback_set %}
		{% if uf %}
			{% if feedback in uf.feedback.all %}
				<li class="feedback-pill"><a class="active" href="{% url 'newshub:article_add_feedback' article.pk feedback.pk %}">{{feedback}}</a></li>
			{% else %}
				<li class="feedback-pill"><a href="{% url 'newshub:article_add_feedback' article.pk feedback.pk %}">{{feedback}}</a></li>
			{% endif %}
		{% else %}
			<li class="feedback-pill"><a href="{% url 'newshub:article_add_feedback' article.pk feedback.pk %}">{{feedback}}</a></li>
		{% endif %}	
	{% endfor %}
	{% else %}
		<li class="feedback-info feedback-likes">{{article.likes.count}} LIKES</li>
		<li class="feedback-info feedback-views">{{article_data.total_view_count}} VIEWS</li>
		<li class="header"><p>Feedback<p></li>
		<li class="feedback-info feedback-total">TOTAL {{article_data.article_feedback_sum}}</li>
		{% for feedback in article_data.feedback_set %}
			<li class="feedback-info progress-bar progress-bar-success" role="progressbar" aria-valuenow="300" aria-valuemin="0" aria-valuemax="20" style="width:{{feedback.percentage}}%"><span class="description">{{feedback.obj}}</span></li>
		{% endfor %}
	{% endif %}
	<!--<li class="respond"><a href="#">Respond</a></li>-->

<li class="header"><p>Share</p></li>
</ul>
{% include 'newshub/article/share.html' with article=article %}
