{% load staticfiles %}
<ul class="nav nav-pills nav-stacked">
<li class="header"><p>Feedback<p></li>
	{% for feedback in feedback_set %}
		{% if uf %}
			{% if feedback in uf.feedback.all %}
				<li class="feedback-pill"><a class="active" href="{% url 'newshub:article_add_feedback' article.pk feedback.pk %}">{{feedback}}</a></li>
			{% else %}
				<li class="feedback-pill"><a href="{% url 'newshub:article_add_feedback' article.pk feedback.pk %}">{{feedback}}</a></li>
			{% endif %}
		{% else %}
			<li class="feedback-pill"><a href="{% url 'newshub:article_add_feedback' article.pk feedback.pk %}">{{feedback}}</a></li>
		{% endif %}	
	{% endfor %}
<li>
	<p class="login-text">Thank you for reading this article. To find more great content by Cambridge authors, give feedback and get a personalised article feed, you need to login.</p>
</li>
</ul>
	<div class="login">
		<p class="social social-facebook">
		<a href="{% url 'social:begin' 'facebook' %}?next={% url 'newshub:view_article' 'home' article.pk %}" title="Facebook Login"><span class="social-span facebook-title">Login via Facebook</span><img class="facebook" src="{% static 'newshub/images/facebook2.png' %}" alt="fb logo"/></a>
	</p>
	</div>
{% comment %}
<ul class="nav nav-pills nav-stacked">
<li class="header"><p>Share</p></li>
</ul>
{% include 'newshub/article/share.html' with article=article %}
{% endcomment %}