<ul class="nav nav-pills nav-stacked">
	<li class="like-button">
		<p class="{% if request.user in article.likes.all %}active{%endif%}"
			data-article-id="{{article.pk}}">
			<!--<i class="fa fa-thumbs-o-up"></i> -->
			<span>+</span>
			<span class="like-text">
			{% if request.user in article.likes.all %}
				LIKED
			{% else %}
				LIKE
			{% endif %}
			</span>
		</p>
	</li>
	<li class="header"><p>Feedback<p></li>
	{% for feedback in feedback_set %}
		{% if uf%}
			{% if uf.feedback == feedback %}
				<li class="feedback-pill"><a class="active" href="{% url 'newshub:article_add_feedback' article.pk feedback.pk %}">{{feedback}}</a></li>
			{% else %}
				<li class="feedback-pill"><a href="{% url 'newshub:article_add_feedback' article.pk feedback.pk %}">{{feedback}}</a></li>
			{% endif %}
		{% else %}
			<li class="feedback-pill"><a href="{% url 'newshub:article_add_feedback' article.pk feedback.pk %}">{{feedback}}</a></li>
		{% endif %}	
	{% endfor %}
	<li class="respond"><a href="#">Respond</a></li>
	</ul>
	<ul class="nav nav-pills social-media-pill nav-right">
	<li><a class="twitter-share" href="https://twitter.com/home?status=http%3A//newshub.webfactional.com/view/article/{{article.pk}}"></a></li>
	<li><a class="facebook-share" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//newshub.webfactional.com/view/article/{{article.pk}}"></a></li>
	<li><a class="pinterest-share" href="https://pinterest.com/pin/create/button/?url=&media=http%3A//newshub.webfactional.com/view/article/{{article.pk}}/&description={{article.title}}"></a></li>
	<li><a class="linkedin-share" href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A//newshub.webfactional.com/view/article/{{article.pk}}/&title={{article.title}}&summary={{article.headline}}&source="></a></li>  
</ul>