	<ul class="nav nav-pills social-media-pill nav-right">
	<li><a class="twitter-share" href="https://twitter.com/home?status=http%3A//www.camnewshub.com/view/article/home/{{article.pk}}/" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=590,height=500,toolbar=1,resizable=0'); return false;"></a></li>
	<li><a class="facebook-share" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.camnewshub.com/view/article/home/{{article.pk}}/" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"></a></li>
	<li><a class="pinterest-share" href="https://pinterest.com/pin/create/button/?url=&media=https%3A//www.camnewshub.com/view/article/home/{{article.pk}}/&description={{article.title}}/" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"></a></li>
	<li><a class="linkedin-share" href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//www.camnewshub.com/view/article/home/{{article.pk}}/&title={{article.title}}&summary={{article.headline}}&source=" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"></a></li>  
</ul>