{% extends 'newshub/framework/base.html' %}
{% load widget_tweaks thumbnail %}
{% block content %}
<div class="row fill-height">
    
    <div class="col-sm-2 affixed-sidebar left-sidebar">
        {% include 'newshub/framework/left-sidebar.html' with article=True type=action_type%}
    </div><!-- /.article-sidebar -->

    <div class="col-sm-8 main article-container">

		<div class="col-sm-9 center-block article-post">
			<h1 class="article-post-title">{{article.title}}</h1>
			<div class="post-tools" data-author-id="{{article.author.id}}">
				<p class="article-post-meta"><img src="{{article.author.user.profile.picture.url}}" alt="author pic"/><a href="{% url 'newshub:profile' article.author.user.pk %}">{{article.author.user.first_name}} {{article.author.user.last_name}}</a></p>			
				{% if article.author.user == request.user %}
					<a href="{% url 'newshub:edit_article' pk=article.pk %}" class="btn btn-default">Edit article</a>
				{% else %}
		            {% if request.user in article.author.followed_by.all %}
                    <button type="button" class="btn btn-active btn-default follow-button">
                        Followed
                    {% else %}
                    <button type="button" class="btn btn-default follow-button">
                        Follow
                    {% endif %}
                    </button>
                    {% if request.user in article.author.endorsed_by.all %}
                    <button type="button" class="btn btn-active btn-default endorse-button">
                        Endorsed
                    {% else %}
                    <button type="button" class="btn btn-default endorse-button">
                        Endorse
                    {% endif %}
                    <!-- <button type="button" class="btn btn-default">Feedback</button> -->
		        {%endif%}
            </div>
            <div class="article-view-element">
                {% thumbnail article.header_picture "800x450" crop="center" as im %}
                    <img src="{{ im.url }}">
                {% endthumbnail %}
            </div>
            <div class="article-view-element">
    			<p class="article-post-headline">{{article.headline}}</p>
    			<div class="article-post-content">{{article.content|safe}}</div>
            </div>
            <div class="article-view-element article-comments">
                <h4>Comments</h4>
                <form class="form-horizontal" id="article_comment_form" method="post" action="{% url 'newshub:add_comment' %}">
                    {% csrf_token %}
                    {% for hidden in comment_form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in comment_form.visible_fields %}
                    <div class="form-group {%if field.errors %}has-feedback has-error{%endif%}">
                        <div class="col-sm-12">
                            {% render_field field placeholder=field.label class='form-control' autocomplete='off'%}
                            {% for error in field.errors %}
                                 <span class="help-block">
                                    {{error}}
                                 </span>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="form-group">
                        <div class="post-tools col-sm-2">
                            <input class="btn" type="submit" name="action" value="Comment"/>
                        </div>
                    </div>
                </form>
                <div class="article-comments-section">
                    {% for comment in article.comment_set.all %}
                        {% include 'newshub/article/comment.html' with comment=comment%}
                    {% empty %}
                        <p>No comments for this article</p>
                    {%endfor %}

                </div>
            </div>
		</div><!-- /.article-post -->
		
		<!--{% if article.author == request.user %}
			<p>published: {{article.published}}</p>
		{% endif %} -->

    </div><!-- /.article-main -->

    <div class="col-sm-2 affixed-sidebar article-right-sidebar">
      	{% include 'newshub/article/right-article-sidebar.html' with article=article%}
    </div><!-- /.article-right-sidebar -->

 </div><!-- /.row -->

{% endblock %}

