$nav-size: 60px;
$component-colours: #787878;
$border-radius-search: 12px;
$border-style: thin solid #A6A6A6;
$box-shadow-style: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$center-padding: 0 15%;
$center-background-color: white;
$facebook-colour: #3B5999;
$feed-author-pic-size: 30px;
$sidebar-md: $container-md/6;
$sidebar-sm: $container-sm/6;
$sidebar-lg: $container-lg/6;
//Colours
$main-color: #8D0812;
$feed-hover-gray: #F2F2F2;
$button-light-gray: #A6A6A6;
$darker-gray: #686868;
// Basic
html, body {
	height: 100%;
}

body {
	padding-top: $nav-size;
	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
}

.toast-top-right{
	top: 70px;
}

.container {
	height: 100%;
	.fill-height {
		height: 100%;
		position: relative;
	}
	position: relative;
	.vertically-center {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}
// End Basic

// Navbar
.navbar-fixed-top {
	border: none;
}
.nav {
	text-align: center;
	a {
		color: white;
	}
	&.navbar-right a {
		font-size: 15.52pt;
	}

	@media (min-width: $container-md) {
		&.navbar-right {
			margin-right: 10px;
	    	padding-right: 15%;
		}
	}
	@media (max-width: $container-md) {
		&.navbar-right {
	   		margin-right: 7px;
		}
	}
	@media (max-width: $container-sm) {
		&.navbar-right {
	    	margin-right: 3px;
		}
	}
	.dropdown {
		height: 60px;
		.societies {
			background-color: $darker-gray;
			.society-link {
				color: white;
			}
		}
		.societies-header {
			color: white;
			font-size: 15.52pt;
			padding: 3px 20px;
			font-weight: bold;
		}
		.dropdown-menu {
			right: 0;
			min-width: 138px;
			border: none;
			background-color: $navbar-inverse-bg;
			li a {
				color: #9d9d9d;
				&:hover, &:focus {
		 			background-color: $navbar-inverse-link-active-bg;
		 			color: white;
		 		}
		 	}
		}
	}
}

.navbar-brand {
	.logo {
		height: 50px;
	    width: 50px;
	    display: inline;
	    position: relative;
	    border: 3px solid white;
	    vertical-align: middle;
	    z-index: 1;
	}
	.brand-text {
		display: none;
		@media (min-width: $container-sm) {
			display: inline;
			vertical-align: middle;
			position: relative;
			/* left: -100px;
			-webkit-transition: all 300ms ease-out;
			-moz-transition: all 300ms ease-out;
			transition: all 300ms ease-out; */
		}
	}
	.school-text {
		margin: 0 10px 0 0;
	}
	font-size: 36pt;
	padding: 5px 5px 5px 0;
    overflow: hidden;
    position: relative;
	.alternate-colour {
		color: white;
	}
	.hidden-text {
		opacity: 0;
	}
	/*&:hover {
		.brand-text {
			left: 5px;
		}
		.hidden-text {
			opacity: 1;
		}
	}*/
}
// End Navbar

// Sidebars
.left-sidebar, .right-feed-sidebar, .article-right-sidebar {
	padding: 0 5px 0 5px;
	font-size: 11.52pt;
	font-weight: bolder;
}
.left-sidebar {
	@media (min-width: $container-md) {
		.active a, .article-active a{
			padding-left: 10px;
			width: calc(100% + 5px);
		}
		.article-active a {
			background-color: $navbar-inverse-link-active-bg;
		}
		.article-pill a {
			background-color: $button-light-gray;
		}
		//Triangles
		.article-active:after, .active:after, .article-active:before {
			top: 50%;
			border: solid;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(136, 183, 213, 0);
			border-width: 20px;
			margin-top: -20px;
			z-index: 1;
		}
		.active:after{
			left: calc(100% + 5px);
			border-left-color: $navbar-inverse-link-active-bg;
		}
		.article-active:before {
			left: calc(100% - 35px);
			border-right-color: black;
		}
		.article-active:after{
			left: calc(100% - 34px);
			border-right-color: white;
		}
		//End triangles
		.active a:focus, .active a:hover {
			background-color: $navbar-inverse-link-active-bg !important;
		}
	}
	.sibling-hover {
		&.active {
			a {
				background-color: $navbar-inverse-bg !important;
			}
			&:after {
				border-left-color: $navbar-inverse-bg !important; 
			}
		}
		&.article-active {
			a {
				background-color: $button-light-gray;
			}
		}
	}
	.tags {
		margin-top: 10px;
		text-align: center;
		.tag-type {
			color: #646464;
		}
		.tag-list {
			list-style: none;
			padding: 0;
			li {
				display: inline-block;
				margin: 3px;
				a {
					color: black;
					text-decoration: none;
				}
			}
		}
	}
}

.article-right-sidebar {
	.login{
		.social{
			margin-top: 0px;
			margin-bottom: 35px;
			text-align: center;
			font-size: 11.52pt;
		}
	}
	.social-media-pill {
		text-align: center;
		li {
			display: inline-block;
			float: none;
			width: 40px;
			a {
			    height: 40px;    
				&:hover{
					background-color: transparent;
				}
			}
			.facebook-share {
				background: url("../images/128-facebook.png");
			    background-size: contain;
			}
			.twitter-share {
				background: url("../images/twitter.png");
			    background-size: contain;
			}
			.linkedin-share {
				background: url("../images/linkedin.png");
			    background-size: contain;
			}
			.pinterest-share {
				background: url("../images/pinterest.png");
			    background-size: contain;
			}
		}
	}
	.feedback-info {
		background-color: $navbar-inverse-bg;
		&.feedback-likes {
			background-color: $navbar-inverse-link-active-bg;
		}
		color: white;
		&.progress-bar, &.feedback-total{
			font-size: 14pt;
    		padding: 7px 20px;
    		background-color: #000;
		}
		.description {
			mix-blend-mode: difference;
		}
	}
	.feedback-likes, .feedback-views {
		font-size: 20pt;
	}
}

.left-social{
	.social-media-pill{
		margin-left: -15px;
		margin-right: -15px;
	}
}

.right-profile-sidebar {
	.profile-tools {
		.btn {
			width: 100%;
    		font-size: 18pt;
    		font-weight: normal;
		}
		margin-bottom: 5px;
	}
	.website-link{
		font-size: 18pt;
	}

	.following-pill{
		font-size: 9.52pt;
	}

	li {
		a {
			padding: 5px;
		}
	}
}

.nav-pills {
	p.login-text{
		border-top: 1px solid $main-color;
		margin-top: 10px;
		padding-top: 10px;
	}
	margin-top: 10px;
	position: relative;
	li.active a{
		background-color: $navbar-inverse-link-active-bg;
	}
	a {
		background-color: $navbar-inverse-bg;
	}
	.btn {
		display: inline-block;
		color: white !important;
	}
	.search {
		padding: 10px;
	    box-sizing: border-box;
	    background-color: black;
	    .glyphicon {
	    	top: 0;
	    }
	    .form-control, .btn {
	    	border: transparent;
	    	height: 25px;
	    }
	    .form-control {
	    	border-top-right-radius: $border-radius-search;
	    	border-bottom-right-radius: $border-radius-search;
	    }
	    .btn {
	    	background-color: white;
	    	border-top-left-radius: $border-radius-search;
	    	border-bottom-left-radius: $border-radius-search;
	    }
	}
	.like-button {
		p {
			margin: 0;
			font-size: 20pt;
			font-weight: 300;
			color: white;
			background-color: $button-light-gray;
			padding: 5px 0;
    		vertical-align: middle;
    		.like-text {
    			color: black;
    		}
    		&:hover, &.active {
    			background-color: $navbar-inverse-link-active-bg;
    			color: white;
    			.like-text {
    				color: white;
    			}
    		}
		}
		p:hover{
			cursor: pointer;
		}

	}
	.header {
		margin-top: 20px;
		&.first-header {
			margin: 0 0 10px 0;
		}
		p {
			margin: 0;
			font-size: 20pt;
		}
	}
	.feedback-pill{
		font-size: 12pt;
		&.active a{
			background-color: $button-light-gray;
			color: black;
			font-size: 16pt;
			font-weight: bold;
		}
	 	a{
			padding: 5px 0;
			background-color: transparent;
			color: black;
			&:hover{
				color: white;
				background-color: $main-color;
			}
			&.active{
				color: white;
				background-color: $main-color;
			}
		}
	}
	.respond {
		margin-top: 40px;
		a {
			background-color: $button-light-gray;
			color: black;
			&:hover, &:active {
				color: white;
			}
		}
	}
	.following-header {
		border-bottom: $border-style;
	}
	.following-box {
		.following-profile-link {
			padding: 0;
			color: black;
		}
		.following-pill {
			text-align: left;
			margin-bottom: 10px;
			img {
				height: 30px;
				width: 30px;
				border-radius: 50%;
				margin-right: 5px;
			}
		}
	}
	.saved-article {
		a {
			font-size: 16pt !important;
			font-weight: normal;
			background-color: transparent;
			color: black;
			padding: 5px;
			&:hover, &:focus {
				background-color: transparent;
			}
		}		
	}
}
.right-feed-sidebar {
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	@media (max-width: $screen-sm) {
	    display: none;
	}
	.blurb-header {
		background-color: $navbar-inverse-bg;
		color: white;
		font-size: 13pt;
	}
	.about-us-btn {
		display: inline-block;
		padding: 2px 5px;
		font-size: 11.52pt;
		margin: -10px auto 10px;
	}
}
// End Sidebars

// Center div (profile info, articles, feed, etc.)
.main {
	min-height: 100%;
	background-color: $center-background-color;
	@media (min-width: $container-sm) {
		border-left: $border-style;
		border-right: $border-style;
	}
	.article-post-meta a {
		color: $navbar-inverse-link-active-bg;
	}
	.author p{
		font-family: $font-family-sans-serif;
		color: $navbar-inverse-link-active-bg;
	}
	p {
		font-family: $font-family-serif;
	}	h1 {
		font-size: 24pt;
		font-weight: bold;

	}
	ul{
		font-family: $font-family-serif;
	}
}
.center-block {
	float: none;
}
// End center div

// Footer 
.section-footer {
	position: fixed;
	bottom: 0;
	right: 0;
	.nav-stacked{
		li {
			a {
				background-color: $button-light-gray;
				padding: 5px 10px;
			}
		}
	}
}
// End Footer
// Login
.login {
	font-family: $font-family-sans-serif;
	text-align: justify;
	.login-right form{
		.form-group {
			margin-bottom: 5px;
		}
	}
	.login-left, .login-right {
		padding: 0;
	}
	.login-left, .login-brand {
		@media (min-width: $screen-sm) {
			float: left;
		}
	}
	.login-brand {
		@media (max-width: $screen-sm) {
	    	display: none;
		}
		@media (min-width: $screen-sm) {
	    	width: calc(100% - 100px);
		}
		@media (min-width: $screen-md) {
	    	width: inherit;
		}
	}
	.logo {
		width: 100%;
		@media (min-width: $screen-sm) {
	    	height: 100px;
	    	width: auto;
		}
		@media (min-width: $screen-md) {
			width: 100%;
			height: auto;
		}
		@media (min-width: $screen-lg) {
			width: 100%;
		}
	}
	h1 {
		font-size: 86px;
	    text-align: center;
	    color: #9d9d9d;
	    background-color: #242424;
	    padding: 4px 0 0 0;
	    margin: 0;
		@media (min-width: $screen-sm) {
	    	height: 100px;
		}	    
		.alternate-colour {
			color: white;
		}
	}
	.login-blurb {
		padding: 10px 20px;
		font-size: 16pt;
	}
	.blurb-2 {
		@media (min-width: $screen-md) {
			position: relative;
			top: 10px;
		}
	}
	.social {
		font-size: 18pt;
		margin-top: 30px;
		a {
			text-decoration: none;
		}
		.facebook {
			height: 30px;
			vertical-align: text-bottom;
		}
		.social-span {
			margin-right: 10px;
			font-weight: bold;
		}
		.facebook-title {
			color: $facebook-colour;
		}
		.google {
			height: 40px;
			vertical-align: text-bottom;
		}
		.google-title, .google {
			display: none;
		}
	}
}
// End Login

// Landing Pages
.landing-page {
	text-align: center;
	.header {
		font-family: $font-family-sans-serif;
		font-size: 28pt;
		font-weight: bold;
	}
	.post-tools {
		.btn {
			padding: 5px 20px;
		}
		.btn-next {
			.btn {
				padding: 5px 10px 5px 15px;
				height: 34px;
				background-color: $navbar-inverse-link-active-bg;
			}
			&:after{
			    position: absolute;
			    content:"";
			    width:0;
			    height:0;
			    border-top:17px solid transparent;
			    border-bottom:17px solid transparent;
			    border-left:17px solid $navbar-inverse-link-active-bg;
			}
		}
	}
	.landing-tag-picker {
		#id_tags {
			list-style: none;
			padding: 0;		
			li {
				display: inline-block;
				margin: 0 5px 0 0;
			}
			input[type="checkbox"] {
				display: none;
			}
			input[type="checkbox"]:checked + span, span:hover {
				background-color: $navbar-inverse-link-active-bg;
				color: white;
			}
			span {
				padding: 5px 10px;
	    		font-size: 18px;
	    		margin: 0;
	    		cursor: pointer;
			}
		}
	}
	.author-item {
		text-align: left;
		border-bottom: $border-style;
		padding-bottom: 10px;
		margin-bottom: 10px;
		.author-profile {
			margin-bottom: 10px;
			.author-pic {
				height: 60px;
				width: auto;
				border-radius: 30px;
				margin-left: 15px;
			}
			.author-name {
				font-size: 30px;
				font-weight: bold;
				color: black;
				vertical-align: middle;
   				margin-left: 5px;
			}
			.follow-button {
				display: inline-block;
				.btn {
					padding: 5px 5px;
				}
			}
		}
	}
}
// End Landing

// Shared between feed article and articles
.feed-article, .article-post, .featured {
	.article-post-title {
		font-size: 40px;
		font-weight: bold;
		margin-bottom: 0;
	}
	.article-post-headline {
		font-weight: 400;
		text-align: left;
		font-size: 16px;
		word-wrap: break-word;
	}
	.article-post-meta {
		font-weight: bold;
		font-family: $font-family-sans-serif;
		font-size: 14px;
		display: inline;
		color: $navbar-inverse-link-active-bg;
	}
}

.feed-article, .article-post {
	.article-post-meta img {
		border-radius: $feed-author-pic-size;
		border: none;
		height: $feed-author-pic-size;
		width: $feed-author-pic-size;
		margin: 0 5px 5px 0;
		display: inline;
		vertical-align: middle;
	}
	p {
		text-align: justify;
	}
}
.feed-article, .featured {
	padding: $center-padding;
	box-sizing: border-box;
	img {
		height: 30px;
		width: 50px;
		display: inline-block;
		border: $border-style;
		vertical-align: baseline;
	}
	.article-post-title {
		padding-top: 10px;
		margin: 0;
		font-weight: bold;
		font-size: 22pt;
		a {
			color: black;
			text-decoration: none;
		}
	}
}
.feed-article {
	.article-link {
		text-decoration: none;
		color: $navbar-inverse-bg;
		&:hover h1{
			color: $navbar-inverse-link-active-bg;
		}
	}
	.post-tools {
		border-bottom: $border-style;
		padding-bottom: 5px;
		.btn {
			display: none;
		}
	}
	.article-post-meta {
		margin: 0 10px;
	}
	&:hover {
		background-color: $feed-hover-gray;
	}
	&:hover .btn {
		display: inline-block;
	}
}

// Article writing
#article-post-form {
	margin-bottom: 0;
}
.article-forms {
	.nav-pills {
		a {
			font-size: 11.52pt;
		}
		input {
			width: 100%;
		    color: white;
		    background-color: $navbar-inverse-bg;
		    border: none;
		    padding: 10px 15px;
		    font-size: 11.52pt;
		    font-weight: 100;
		    &:hover {
		    	background-color: $navbar-inverse-link-active-bg;
		    }
		}
		.red {
			background-color: $navbar-inverse-link-active-bg;
			&:hover {
				background-color: $navbar-inverse-bg;
			}
		}
	}
	#id_title, #id_headline {
		width: 100%;
	}
	#id_headline {
		height: 80px;
	}
	#article-forms-col {
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: $center-background-color;
		min-height: 100%;
		border-left: $border-style;
		border-right: $border-style;

		.article-poll-form{
			margin-top: 30px;
			border-top: 2px dashed $main-color;
			a{
				color: $main-color;
				padding-right: 5px;
				font-size: 18px;
			}
		}
	}
}

.post-tools, .profile-tools {
	.btn {
		border: none;
		border-radius: 0;
		font-family: $font-family-sans-serif;
		color: white;
		background-color: $navbar-inverse-bg;
		font-weight: bold;
		display: inline-block;
	    font-size: 16px;
	    padding: 5px 5px;
	}

	.btn-active {
		color: #ffffff;
		background-color: $navbar-inverse-link-active-bg;
	}
}

.text-middle {
	text-align: center;
}

//redactor style
.redactor-editor{
	h1,h2,h3,h4,h5,h6{
		font-weight: normal;
	}
}

.redactor-box{
	border: 1px solid $main-color;
	border-radius: 0;
}

.redactor-editor{
	padding: 6px 12px;
}


.redactor-placeholder:after{
	top: 6px;
	left: 12px;
}
// End article writing

// Articles
.article-container {
	padding-bottom: 30px;
	.article-view-element, .article-container .post-tools{
		padding-top: 10px;
		p{
			word-wrap: break-word;
		}
	}
	.post-tools {
		margin-top: 10px;
		.btn {
			margin-right: 5px;
			padding: 5px 20px;
			vertical-align: inherit;
		}
	}
	.article-view-element{
		img{
			width: 100%;
		}
	}
	.article-comments{
		clear: both;
		margin-top: 25px;
		textarea{
			height: 100px;
		}

		.article-comments-section{
			.btn{
				float:right;
				padding: 0px 6px;
				margin-left: 6px;
			}
			.edit-comment-form{
				textarea{
					resize:none;
				}
				.textarea-container{
					margin: 0px 10px;
				}
			}
		}
	}
	.article-post-meta {
		margin-right: 10px;
		img {
			width: 30px!important;
		}
	}
	.poll {
		p {
			font-family: $font-family-sans-serif;
		}
		.form-group {
			margin: 0;
		}
		.article-poll-headline {
			text-align: center;
		    color: $navbar-inverse-link-active-bg;
		    font-size: 20px;
		}
		input[type="radio"] {
			display: none;
		}
		input[type="radio"]:checked + label, label:hover {
			background-color: $navbar-inverse-link-active-bg;
			color: white;
		}
		label {
			padding: 3px;
    		font-size: 16px;
    		margin: 0;
		}
		.poll-count {
			width: 10%;
			display: inline-block;
		}
		.poll-middle-text {
			width: 90%;
			text-align: center;
			display: inline-block;
    		margin-left: -5%;
		}
		.btn {
			margin-top: 10px;
		}
		.poll-results {
			font-weight: bold;
			.row {
				margin: 0 0 10px 0;
			}
			.poll-count {
				width: auto;
				margin-right: 10px;
			}
			.poll-results-info {
				margin-right: 10px;
				display: inline-block;
			}
			.poll-results-right{
				display: inline-block;
				.poll-results-bar {
					float: none;
					background-color: $navbar-inverse-link-active-bg;
				}
			}
		}
	}
}
// End Articles

// Profile
#profile {
	text-align: justify;
	padding: $center-padding;
	padding-top: 10px;
	.profile-picture, .profile-description {
		padding: 0;
	}
	.profile-picture {
		border: 5px solid $navbar-inverse-bg;
		img {
			width: 100%;
		}
	}
	.profile-description {
		.profile-info {
			padding: 10px 0;
			text-align: center;
			background-color: $navbar-inverse-bg;
			color: white;
			font-size: 14pt;
			h2 {
				font-size: 30pt;
				font-size: 2vw;
				margin: 10px 0 0;
			}
			p {
				font-family: $font-family-sans-serif;
				margin: 0;
			}
		}
		.profile-blurb {
			padding: 10px 20px;
		}
	}
	.featured {
		.heading {
			font-size: 28pt;
			text-align: center;
			border-bottom: $border-style;
		}
		.article-post-title {
			font-size: 24pt;
		}
		.profile-articles {
			border-bottom: $border-style;
			h4{
				padding: 20px;
			}
		}
		padding: 0 5%;
	}
}

#edit-profile {
	padding-top: 20px;
	.form-group {
		margin: 0 0 15px;
	}
}

// End Profile

//overwrite select2
.select2-container--default .select2-selection--multiple{
	border: 1px solid $main-color!important;
	border-radius: 0px!important;
}


.page-links{
	margin-top:30px;
	margin-bottom: 30px;
	a{
		color: white;
		background-color: $main-color;
		font-size: 11.52pt;
		font-weight: bolder;
		padding: 5px 10px;
		text-decoration: none;
	}
	a:hover{
		text-decoration:none;
		opacity: 0.8;
	}
}

@media (min-width: $screen-sm){
	.navbar > .container .navbar-brand{
		margin-left: -10px;
	}
}