{% extends 'newshub/framework/base.html' %}
{% block content %}
<div class="row fill-height">
    <div class="col-sm-8 main landing-page center-block">
		<form class="landing-follow-author"action="" method="POST">
			{% csrf_token %}
			<p class="header">Follow some authors</p>
			<div class="col-sm-8 center-block author-item">
				<div class="row author-profile">
					<img class="author-pic" src="{{user.profile.picture.url}}{{user.society.logo.url}}" alt="author pic"/>
					<a class="author-name" href="#">{{user.first_name}} {{user.last_name}}</a>
					<div class="post-tools follow-button">
		                <button type="button" class="btn btn-default follow-button">
		                    Follow
		                </button>
	                </div>
				</div>
			<p class="author-info">{{user.profile.about}}</p></div>
			<div class="post-tools">
				<div class="btn-next">
				<input class="btn" type="submit" name="action" value="Next" />
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}