{% extends 'newshub/framework/base.html' %}
{% load widget_tweaks %}
{% comment %}
	Profile page of the User/Author. 

	Data received 
	-----
	user: the user object who's profile we are viewing
		- first_name
		- last_name
		- email
		- profile: the profile object. Each user has a profile object associated with them.
			- picture: a Django ImageField object, containing the profile picture from facebook
			- about: a short description, which is optional to provide after signing up.
			- crsid: cambridge universities id. only needed if a user wants to become an author.
		- article_set.all: the list of users article objects
			- article: a single article 
				- author: the user object of the article, ie. who created it
				- title
				- headline
				- content
				- tags: a list of tags
					-tag
						- name: the name of the tag such as 'football'
						- category: the category object. Each tag has one category, but a signle category can have many tags. Example would be 'Sport'
							- name: the name of the category
				- time_uploaded: a datetime object of when was the article first uploaded
				- time_changed: the time of the last save of the article
{% endcomment %}
{% block title %}Profile{% endblock%}
{% block content %}
<div class="row fill-height">
    <div class="col-sm-2 affixed-sidebar left-sidebar">
        <ul class="nav nav-pills nav-stacked">
       		{% if not society %}
            <li class="active"><a href="#profile" data-toggle="pill">About Me</a></li>
            <li><a href="#profile-articles" data-toggle="pill">Articles</a></li>
            <!--
            <li><a href="#" data-toggle="pill">Awards</a></li>
            <li><a href="#" data-toggle="pill">C.V.</a></li>
            <li><a href="#" data-toggle="pill">Statistics</a></li>
            -->
            {% if request.user == user %}
            	<li><a href="#edit-profile" data-toggle="pill">Edit Profile</a></li>
            {% endif %}
            {% else %}
            <li class="active"><a href="#profile" data-toggle="pill">About the Society</a></li>
            <li><a href="#profile-articles" data-toggle="pill">Articles</a></li>
            <!--
            <li><a href="#" data-toggle="pill">Awards</a></li>
            <li><a href="#" data-toggle="pill">C.V.</a></li>
            <li><a href="#" data-toggle="pill">Statistics</a></li>
            -->
	            {% if request.user == user %}
	            <li><a href="#edit-profile" data-toggle="pill">Edit Society</a></li>
	            {% endif %}
            {% endif %}
        </ul>
    </div><!-- /.profile-sidebar -->

    <div class="col-sm-8 main tab-content profile-page">
    	<div id="profile" class="row center-block tab-pane active">
			<div class="row">
			{% if not society %}
				<div class="col-sm-5 profile-picture">
					<img class="img-responsive" src="{{user.profile.picture.url}}" /> 
				</div>
				<div class="col-sm-7 profile-description">
					<div class="profile-info">
						<h2>{% if user.profile.display_name and user.profile.display_name.strip %}{{user.profile.display_name}}{% else %}{{user.first_name}} {{user.last_name}}{%endif %}</h2>
						{% if user.profile.get_year_display or user.profile.subject %}
							<p>{% if user.profile.get_year_display %}{{user.profile.get_year_display}}{%endif%} {% if user.profile.subject %}{{user.profile.subject}}{%endif%} Student</p>
							{% if user.profile.college %}<p>at {{user.profile.college}}</p>{% endif %}

							{% comment %}{% if user.endorsement_set.count > 0 %}
								<p>{{user.profile.display_name}} has {{user.endorsement_set.count}} endorsements.</p>
							{% endif %}
							{% endcomment %}
						{% endif %}
					</div>
					<div class="profile-blurb">
						<div class="profile-page-title">
						</div>
						<div class="profile-page-section">
							{% if user.profile.about %}{{user.profile.about}}{% endif %}
						</div>
					</div>
				</div>
			{% else %}
			<div class="col-sm-5 profile-picture">
				{% if user.society.logo %}
					<img class="img-responsive" src="{{user.society.logo.url}}" /> 
				{% endif %}

				</div>
				<div class="col-sm-7 profile-description">
					<div class="profile-info">
						<h2>{{user.first_name}}</h2>

						{% if user.endorsement_set.count > 0 %}
							<p>{{user.first_name}} has {{user.endorsement_set.count}} endorsements.</p>
						{% endif %}
						<p>{{user.username}}</p>
					</div>
				</div>
				<div class="profile-blurb">
					<div class="profile-page-title">
					</div>
					<div class="profile-page-section">
						{{user.society.about}}
					</div>
				</div>
			{% endif %}
			</div>
			{% if user.author.article_set.all.count > 0 %}
			<div class="featured row">
				<h1 class="heading">Featured</h1>
				{% for article in user.author.article_set.all %} <!-- This is first 3 -->
				{% if article.published and article.published %}
				<div class="row">
		            <div class="center-block profile-articles">
		                <h1 class="article-post-title"><a href="{% url 'newshub:view_article' action_type='home' pk=article.pk %}">{{article.title}}</a></h1>
		                <p class="article-post-headline">{{article.headline}}</p>
		            </div>
		        </div>
		        {% endif %}
				{% endfor %}
			</div>
			{% endif %}
		</div>

		<div id="profile-articles" class="row center-block tab-pane">
			{% for article in user.author.article_set.all %}
			{% if article.published %}
			<div class="row">
            <div class="center-block feed-article">
                <a class="article-link" href="% url 'newshub:view_article' action_type='home' pk=article.pk %}">
                    <h1 class="article-post-title">{{article.title}} {{request.user.asd}}</h1>
                    <p class="article-post-headline">{{article.headline}}</p>
                </a>
                {% if request.user != article.author.user %}
                <div class="post-tools" data-author-id="{{article.author.id}}">
                    <p class="article-post-meta"><img src="{{article.author.user.profile.picture.url}}{{article.author.user.society.logo.url}}" alt="author pic"/><a href="{% url 'newshub:profile' article.author.user.pk %}">{{article.author.user.first_name}} {{article.author.user.last_name}}</a></p>
                    {% if request.user in article.author.followed_by.all %}
                    <button type="button" class="btn btn-active btn-default follow-button">
                        Followed
                    {% else %}
                    <button type="button" class="btn btn-default follow-button">
                        Follow
                    {% endif %}
                    </button>
                    {% comment %}
                    {% if request.user in article.author.endorsed_by.all %}
                    <button type="button" class="btn btn-active btn-default endorse-button">
                        Endorsed
                    {% else %}
                    
                    {% if request.user.endorsement_set.count < 4 %}

                    <button type="button" class="btn btn-default endorse-button">
                        Endorse
                    {% endif %}
                    {% endif %}{% endcomment %}
                    </button>
                    <!-- <button type="button" class="btn btn-default">Feedback</button> -->
                </div>
                {% else %}
                <div class="post-tools">
                    <p class="article-post-meta"><img src="{{article.author.user.profile.picture.url}}{{article.author.user.society.logo.url}}" alt="author pic"/><a href="{% url 'newshub:profile' article.author.user.pk %}">{{article.author.user.first_name}} {{article.author.user.last_name}}</a></p>
                    <a href="{% url 'newshub:edit_article' article.pk %}" class="btn btn-default">Edit article</a>
                    <button type="submit" class="btn btn-default {% if article.featured %}btn-active{% endif %}" form="feature_article_form_{{article.pk}}">
                    	{% if article.featured %}
                    		Unfeature
                    	{% else %}
                    		Feature
                    	{% endif %}
                    </button>
                    <form class="feature-article-form" action="{% url 'newshub:article_make_featured' %}" method="post" id="feature_article_form_{{article.pk}}">
                    	{% csrf_token %}
                    	<input type="hidden" value="{{article.pk}}" name="id_article" />
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
            {% endif %}
			{% endfor %}
		</div>

		{% if request.user == user %}
		<div id="edit-profile" class="row center-block tab-pane">
			<div class="row non-featured">
				{% if not society %}
				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-3">
						<h3>Edit profile form</h3>
						<span class="help-block">Required fields are marked with *</span>
					</div>
				</div>
				<form class="form-horizontal" id="" method="post" action="{% url 'newshub:update_profile' request.user.profile.pk %}" enctype="multipart/form-data" >
					{% csrf_token %}
					{% for field in profile_form %}
					<div class="form-group {%if field.errors %}has-feedback has-error{%endif%}">
						<label class="col-sm-offset-1 col-sm-2" for="{{field.id_for_label}}">{{field.label}}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>
						{% if field.html_name == 'about' %}
						<div class="col-sm-8">
						{%else %}
						<div class="col-sm-8">
		        	   {%endif%}
							{% render_field field placeholder=field.label class='form-control' autocomplete='off'%}
			                <span class="help-block">
								<p>{{field.help_text}}</p>
			                {% for error in field.errors %}
			                        {{error}}
			                {% endfor %}
			               	</span>
		        	    </div>
			        </div>
					{% endfor %}
					<div class="form-group">
						<div class="post-tools col-sm-offset-3 col-sm-2">
							<input class="btn" type="submit" name="action" value="Update"/>
						</div>
					</div>
				</form>
				{% else %}
				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-3">
						<h3>Society creation form</h3>
						<span class="help-block">Required fields are marked with *</span>
					</div>
				</div>
				<form class="form-horizontal" id="" method="post" action="{% url 'newshub:update_society' request.user.society.pk %}" enctype="multipart/form-data">
					{% csrf_token %}
					{% for field in profile_form %}
				
					<div class="form-group {%if field.errors %}has-feedback has-error{%endif%}">
						<label class="col-sm-offset-1 col-sm-2" for="{{field.id_for_label}}">{{field.label}}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>
						{% if field.html_name == 'about' %}
						<div class="col-sm-8">
						{%else %}
						<div class="col-sm-8">
		        	   	{%endif%}
							{% render_field field placeholder=field.label class='form-control' autocomplete='off'%}
			                <span class="help-block">
								<p>{{field.help_text}}</p>
			                {% for error in field.errors %}
			                        {{error}}
			                {% endfor %}
		        	    </div>
			        </div>
					{% endfor %}
					{% for field in society_form %}
					<div class="form-group {%if field.errors %}has-feedback has-error{%endif%}">
						<label class="col-sm-offset-1 col-sm-2" for="{{field.id_for_label}}">{{field.label}}</label>
						{% if field.html_name == 'about' %}
						<div class="col-sm-8">
						{%else %}
						<div class="col-sm-8">
		        	   	{%endif%}
							{% render_field field placeholder=field.label class='form-control' autocomplete='off'%}
			                <span class="help-block">
								<p>{{field.help_text}}</p>
			                {% for error in field.errors %}
			                        {{error}}
			                {% endfor %}
		        	    </div>
			        </div>
					{% endfor %}
					<div class="form-group">
						<div class="post-tools col-sm-offset-3 col-sm-2">
							<input class="btn" type="submit" name="action" value="Update"/>
						</div>
					</div>
				</form>
				{% endif %}
			</div>
		</div>
		{% endif %}
	</div><!-- Profile Info -->
	<div class="col-sm-2 affixed-sidebar right-profile-sidebar">
        {% include 'newshub/framework/profile-sidebar.html' with user=user%}
    </div><!-- /.following-sidebar -->
</div>
{%endblock%}