{% extends 'newshub/framework/base.html' %}
{% comment %}
	Profile page of the User/Author. 

	Data received 
	-----
	user: the user object who's profile we are viewing
		- first_name
		- last_name
		- email
		- profile: the profile object. Each user has a profile object associated with them.
			- picture: a Django ImageField object, containing the profile picture from facebook
			- about: a short description, which is optional to provide after signing up.
			- crsid: cambridge universities id. only needed if a user wants to become an author.
		- article_set.all: the list of users article objects
			- article: a single article 
				- author: the user object of the article, ie. who created it
				- title
				- headline
				- content
				- tags: a list of tags
					-tag
						- name: the name of the tag such as 'football'
						- category: the category object. Each tag has one category, but a signle category can have many tags. Example would be 'Sport'
							- name: the name of the category
				- time_uploaded: a datetime object of when was the article first uploaded
				- time_changed: the time of the last save of the article
{% endcomment %}
{% block title %}Profile{% endblock%}
{% block content %}
<div class="row fill-height">
    <div class="col-sm-2 left-sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#profile" data-toggle="pill">About Me</a></li>
            <li><a href="#profile-articles" data-toggle="pill">Articles</a></li>
            <li><a href="#" data-toggle="pill">Awards</a></li>
            <li ><a href="#" data-toggle="pill">C.V.</a></li>
            <li ><a href="#" data-toggle="pill">Statistics</a></li>
            <li ><a href="#" data-toggle="pill">Edit Profile</a></li>
        </ul>
    </div><!-- /.article-sidebar -->

    <div class="col-sm-8 main tab-content">
    	<div id="profile" class="row center-block tab-pane active">
			<h1>{{user.first_name}} {{user.last_name}}</h1>
			<h3 class="profile-subtitle">2nd Year English Student <span class="pull-right">Clare College</span></h3>
			<!--email: {{user.email}} <br />-->
			<p class="profile-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
			</p>
			<p class="profile-description2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
			<img class="profile-picture" src="{{user.profile.picture.url}}" /> 

		</div>
		<div id="profile-articles" class="row center-block tab-pane">
			<div class="featured row">
				<h1 class="heading">Featured</h1>
				
				{% for article in request.user.article_set.all %} <!-- Change this to featured only -->
				<div class="row">
		            <div class="center-block profile-articles">
		                <h1 class="article-post-title"><a href="{% url 'newshub:view_article' pk=article.pk %}">{{article.title}}</a></h1>
		                <p class="article-post-headline">{{article.headline}}</p>
		            </div>
		        </div>
			{% endfor %}
			</div>
			<div class="row non-featured">
				{% for article in request.user.article_set.all %} <!-- Change this to non-featured only -->
				<div class="profile-articles">
	                <h1 class="article-post-title"><a href="{% url 'newshub:view_article' pk=article.pk %}">{{article.title}}</a></h1>
	                <p class="article-post-meta">
	                	<span class="date">{{article.time_uploaded|date:"N Y"}}</span>
	                	<span class="likes">16 Likes</span>
	                </p>
	            </div>
				{% endfor %}
			</div>
		</div>
	</div><!-- Profile Info -->
</div>
{%endblock%}