{% extends 'newshub/framework/base.html' %}
{% load staticfiles widget_tweaks %}
{% block title%}Society Login{% endblock%}

{% block content %}
<div class="row">
	<div class="col-md-8 center-block login">
		<div class="col-md-4 login-left">
			<img class="logo" src="{% static 'newshub/images/nhlogo.svg' %}" />
		</div>
		<div class="col-md-8 login-right login-brand">
			<h1><span class="brand-text"> <span class="alternate-colour">N</span>EWS <span class="alternate-colour">H</span>UB</span></h1>
		</div>
		<div class="col-md-8 login-right">	
			<form id="society_login_form" class="form-horizontal" method="post" action="{% url 'newshub:society_login' %}" >
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<h3>Society login</h3>
				</div>
			</div>	
			{% csrf_token %}
				{% for field in form %}
				<div class="form-group {%if field.errors %}has-feedback has-error{%endif%}">
					<label class="col-sm-offset-1 col-sm-3 control-label" for="{{field.id_for_label}}">{{field.label}}{% if field.field.required %}<span class="required"></span>{% endif %}</label>
					<div class="col-sm-6">
					{% render_field field placeholder=field.label class='form-control' autocomplete='off'%}
		                <span class="help-block">
							<p>{{field.help_text}}</p>
		                {% for error in field.errors %}
		                        {{error}}
		                {% endfor %}
		               	</span>
	        	    </div>
	        	</div>
				{% endfor %}
	        	{% if login_error %}
	        	<div class="row">
	        		<div class="col-sm-offset-2 col-sm-10">
	        		<p style="color:red;">Either the Society name or password is incorrect</p>
	        		</div>
	        	</div>
	        	{% endif %}
				<div class="row">			
					<div class="post-tools col-sm-offset-4 col-sm-2">
						<input class="btn btn-block" type="submit" name="action" value="Login"/>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% endblock %}