{% extends 'newshub/framework/base.html' %}
{% load static thumbnail widget_tweaks %}
{% block title %}
	Change passwrod
{% endblock %}

{% block content %}
<div class="row fill-height">
    <div class="col-sm-2 affixed-sidebar left-sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="{% url 'newshub:self_profile' %}#profile">About the Society</a></li>
            <li><a href="{% url 'newshub:self_profile' %}#profile-articles">Articles</a></li>
            <li><a href="{% url 'newshub:self_profile' %}#edit-profile">Edit Society</a></li>
            <li class="active"><a href="{% url 'newshub:society_change_password' %}">Change password</a></li>
        </ul>
    </div><!-- /.profile-sidebar -->

    <div class="col-sm-8 main profile-page" id="edit-profile">
    	<form action="" method="post" class="form-horizontal">
    		{% csrf_token %}
    		{% for field in form %}
			<div class="form-group {%if field.errors %}has-feedback has-error{%endif%}">
				<label class="col-sm-offset-1 col-sm-2" for="{{field.id_for_label}}">{{field.label}}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>
				<div class="col-sm-6">
		     	{% render_field field placeholder=field.label class='form-control' autocomplete='off'%}
                {% for error in field.errors %}
                     <span class="help-block">
                        {{error}}
                     </span>
    	        {% endfor %}
        	    </div>
	        </div>
            {% endfor %}
    		<div class="form-group">
                <div class="post-tools col-sm-offset-3 col-sm-2">
                    <input class="btn" type="submit" name="action" value="Change password"/>
                </div>
            </div>
    	</form>
	</div><!-- Profile Info -->
	<div class="col-sm-2 affixed-sidebar right-profile-sidebar">
        {% include 'newshub/framework/profile-sidebar.html' with user=request.user%}
    </div><!-- /.following-sidebar -->
</div>
{% endblock %}