{% load staticfiles %}
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="NewsHub project" />
		<title>{% block title %}{%endblock%}</title>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
		<script>
			var django = {jQuery: jQuery};
		</script>
		<!-- including scripts -->
		<script type="text/javascript" src="{% static 'newshub/js/tinymce.min.js' %}"></script>		
		{{form.media}}
		</script>
		<!-- end include scripts -->
		<script type="text/javascript" src="{% static 'newshub/js/main.js' %}"></script>

	</head>
	<body>
		<!-- Header start -->
		<section class="section-header">
			{% include 'newshub/framework/menu.html' %}
		</section>
		<!-- Header end -->
		<!-- Main body start-->
		<section class="section-content">
			{% block content %}{% endblock %}
		</section>
		<!-- Main body end -->
		<!-- Footer start -->
		<section class="section-footer">

		</section>
		<!-- Footer end -->
	</body>
</html>