{% load thumbnail %}
{% if feed == 0 %}
	{% if user.author.follow_set.all.count > 0 and user == request.user %}
	<li class="header following-header"><p>Following Me<p></li>
	<ul class="nav nav-pills nav-stacked following-box">
		{% for follow in user.author.follow_set.all|slice:":5" %}
			{% with user=follow.followed_by %}
			<a class="following-profile-link" href="{% url 'newshub:profile' user.pk %}">
			<li class="following-pill">
				{% if user.profile.picture %}
                    {% thumbnail user.profile.picture "350x350" crop="center" as im %}
                        <img src="{{ im.url }}">
                    {% endthumbnail %}
                {% elif user.society.logo %}
                    {% thumbnail user.society.logo "350x350" crop="center" as im %}
                        <img src="{{ im.url }}">
                    {% endthumbnail %}
                {% endif %}
				{% if user.profile %}
					{% if user.profile.display_name and user.profile.display_name.strip %}
                            {{user.profile.display_name}}
                        {% else %}
                            {{user.first_name}} {{user.last_name}}
                        {% endif %}
				{% else %}
					{{user.first_name}}
				{% endif %}
			</li>
			</a>
			{% endwith %}
		{% endfor %}
	</ul>
	{% endif %}
{% else %}
	{% if user.follow_set.all.count > 0%}
	<li class="header following-header"><p>Following<p></li>
	<ul class="nav nav-pills nav-stacked following-box">
		{% for follow in user.follow_set.all|slice:":5" %}
			{% with user=follow.author.user %}
			<a class="following-profile-link" href="{% url 'newshub:profile' user.pk %}">
			<li class="following-pill">
				{% if user.profile.picture %}
                    {% thumbnail user.profile.picture "350x350" crop="center" as im %}
                        <img src="{{ im.url }}">
                    {% endthumbnail %}
                {% elif user.society.logo %}
                    {% thumbnail user.society.logo "350x350" crop="center" as im %}
                        <img src="{{ im.url }}">
                    {% endthumbnail %}
                {% endif %}
				{% if user.profile %}
					{% if user.profile.display_name and user.profile.display_name.strip %}
                            {{user.profile.display_name}}
                        {% else %}
                            {{user.first_name}} {{user.last_name}}
                        {% endif %}
				{% else %}
					{{user.first_name}}
				{% endif %}
			</li>
			</a>
			{% endwith %}
		{% endfor %}
	</ul>
	{% endif %}
{% endif %}
	{% comment %}
	{% if request.user.endorsement_set.all.count > 0 %}
	<li class="header following-header"><p>Endorsed<p></li>
	<ul class="nav nav-pills nav-stacked following-box">
		{% for endorsement in user.endorsement_set.all %}
			{% with user=endorsement.author.user %}
			<a class="following-profile-link" href="{% url 'newshub:profile' user.pk %}">
			<li class="following-pill">
				{% if user.profile.picture %}
					<img src="{{user.profile.picture.url}}" alt="author pic"/>
				{% endif %}
				{% if user.society.logo %}
					<img class="" src="{{user.society.logo.url}}"  alt="author pic"/> 
				{% endif %}
				{{user.first_name}} {{user.last_name}}
			</li></a>
			{% endwith %}
		{% endfor %}
	</ul>
{% endif %}
{% endcomment %}