<ul class="nav nav-pills nav-stacked">
    {% if type == 'home' %}
        <li class="{%if article%}article-{%endif%}active"><a href="{% url 'newshub:home' %}">Personal Feed</a></li>
        <li class=""><a href="{% url 'newshub:top_stories' %}">Top Stories</a></li>
        <li><a href="{% url 'newshub:history' %}">History</a></li>
    {% elif type == 'top-stories' %}
        <li class=""><a href="{% url 'newshub:home' %}">Personal Feed</a></li>
        <li class="{%if article%}article-{%endif%}active"><a href="{% url 'newshub:top_stories' %}">Top Stories</a></li>
        <li><a href="{% url 'newshub:history' %}">History</a></li>
    {% elif type == 'history' %}
        <li class=""><a href="{% url 'newshub:home' %}">Personal Feed</a></li>
        <li><a href="{% url 'newshub:top_stories' %}">Top Stories</a></li>
        <li class="{%if article%}article-{%endif%}active"><a href="{% url 'newshub:history' %}">History</a></li>
    
    {% endif %}
    <!-- <li class="search">
        <div id="custom-search-input">
            <div class="input-group col-md-12">
                <span class="input-group-btn">
                    <button class="btn" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
                <input type="text" class="  search-query form-control" placeholder="Search" />
            </div>
        </div>
    </li>
    <li ><a href="#">Filter</a></li>  -->
</ul>
<!-- <div class="tags">
    <div class="trending-tags">
        <p class="tag-type">Trending Tags</p>
    </div>
    <div class="suggested-tags">
        <p class="tag-type">Suggested Tags</p>
    </div>
</div> -->
