<ul class="nav nav-pills nav-stacked">
    {% if type == 'top-stories' %}
        <li class="{%if is_article%}article-{%endif%}active"><a href="{% url 'newshub:top_stories' %}">Top Stories</a></li>
        <li class="{%if is_article%}article-pill{%endif%}"><a href="{% url 'newshub:home' %}">Personal Feed</a></li>
        {% if request.user.is_authenticated %}
            <li class="{%if is_article%}article-pill{%endif%}"><a href="{% url 'newshub:history' %}">History</a></li>
        {% endif %}
    {% elif type == 'home' %}
        <li class="{%if is_article%}article-pill{%endif%}"><a href="{% url 'newshub:top_stories' %}">Top Stories</a></li>
        <li class="{%if is_article%}article-{%endif%}active"><a href="{% url 'newshub:home' %}">Personal Feed</a></li>
        {% if request.user.is_authenticated %}
            <li class="{%if is_article%}article-pill{%endif%}"><a href="{% url 'newshub:history' %}">History</a></li>
        {% endif %}
    {% elif type == 'history' %}
        <li class="{%if is_article%}article-pill{%endif%}"><a href="{% url 'newshub:top_stories' %}">Top Stories</a></li>
        <li class="{%if is_article%}article-pill{%endif%}"><a href="{% url 'newshub:home' %}">Personal Feed</a></li>
        {% if request.user.is_authenticated %}
            <li class="{%if is_article%}article-pill{%endif%}"><a href="{% url 'newshub:history' %}">History</a></li>
        {% endif %}
    {% elif type == 'pre_view' %}
        <li class="{%if is_article%}article-pill{%endif%}"><a href="{% url 'newshub:top_stories' %}">Top Stories</a></li>
        <li class="{%if is_article%}article-pill{%endif%}"><a href="{% url 'newshub:home' %}">Personal Feed</a></li>
    {% else %}
        <li class="{%if is_article%}article-pill{%endif%}"><a href="{% url 'newshub:top_stories' %}">Top Stories</a></li>
        <li class="{%if is_article%}article-pill{%endif%}"><a href="{% url 'newshub:home' %}">Personal Feed</a></li>
        {% if request.user.is_authenticated %}
            <li class="{%if is_article%}article-pill{%endif%}"><a href="{% url 'newshub:history' %}">History</a></li>
        {% endif %}
        <li class="{%if is_article%}article-{%endif%}active"><a href="{% url 'newshub:articles_by_category' category.name %}">{{category.name}}</a></li>
    {% endif %}
    <!-- <li class="search">
        <div id="custom-search-input">
            <div class="input-group col-md-12">
                <span class="input-group-btn">
                    <button class="btn" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
                <input type="text" class="  search-query form-control" placeholder="Search" />
            </div>
        </div>
    </li>
    <li ><a href="#">Filter</a></li>  -->
</ul>

<div class="tags">
    {% if is_article %}
        {% if type != 'pre_view' %}

        <div class="related-tags">
            <p class="tag-type">Related Tags</p>
            <ul class="tag-list">
                {% for tag in article.tags.all %}
                    {% if tag.approved %}
                        <li><a href="{% url 'newshub:article_by_tags' tag.name %}">{{tag.name}}</a></li>
                    {% else %}
                        <li>{{tag}}</li>
                    {%endif %}
                {% endfor %}
            </ul>
        </div>
        <!-- <div class="trending-tags">
            <p class="tag-type">Trending Tags</p>
            {% for tag in Author.objects.all %}
                {% if tag.approved %}
                    <li><a href="{% url 'newshub:article_by_tags' tag.name %}">{{tag.name}}</a></li>
                {% else %}
                    <li>{{tag}}</li>
                {%endif %}
            {% endfor %}
        </div> -->
        {% else %}
        <div class="article-right-sidebar">
            <ul class="nav nav-pills nav-stacked">
            <li class="header following-header"><p>Trending Articles<p></li>
                <ul class="nav nav-pills nav-stacked following-box">
                    {% for article in more_articles %}
                        <a class="following-profile-link" href="{% url 'newshub:view_article_outside' article.pk %}">
                        <li class="following-pill">
                                {{forloop.counter}}. {{article.title}}
                        </li>
                        </a>
                    {% endfor %}
                </ul>
            <li class="header"><p>Share</p></li>
            </ul>
            <div class="left-social">
                {% include 'newshub/article/share.html' with article=article %}
            </div>
        </div>
        {% endif %}
    {% else %}
    <div class="related-tags">
        <p class="tag-type">Browse articles by:</p>
        <ul class="tag-list">
        {% for category in categories %}
            <li><a href="{% url 'newshub:articles_by_category' category.name %}">{{category.name}}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

</div>