<ul class="nav nav-pills nav-stacked">
	{% if request.user != user and request.user.is_authenticated %}
		<div class="profile-tools">
            <li data-author-id="{{user.author.pk}}">
            {% if request.user in user.author.followed_by.all %}
            <button type="button" class="btn btn-active btn-default follow-button">
                Followed
            {% else %}
            <button type="button" class="btn btn-default follow-button">
                Follow
            {% endif %}
            </button>
            </li>
            {% comment %}
            <li>
            {% if request.user in user.author.endorsed_by.all %}
            <button type="button" class="btn btn-active btn-default endorse-button">
                Endorsed
            {% else %}
            
            {% if request.user.endorsement_set.count < 4 %}

            <button type="button" class="btn btn-default endorse-button">
                Endorse
            {% endif %}
            {% endif %}
            </button>
            </li>
            {% endcomment %}
        </div>
    {% endif %}
    {% if user.society.website %}
        <li class="website-link"><a target="_blank" href="{{user.society.website}}">Website</a></li>
    {% endif %}
    {% if user.society.facebook_link %}
        <li class="website-link"><a target="_blank" href="{{user.society.facebook_link}}">FB page</a></li>
    {% endif %}
	{% include 'newshub/framework/following-box.html' with feed=0 %}
</ul>
