<ul class="nav nav-pills nav-stacked">
	<!--<li class="header first-header"><p>New to NewsHub?<p></li>
	<li><a href="#" class="btn btn-default">Get Started</a></li>--> <!-- NEEDS LINK -->
	<!-- <li class="header"><p>Topic of the Week<p></li>-->
	<li><p class="blurb-header">Welcome to the Cambridge NewsHub.</p><p>We're changing the way that student news works in Cambridge. Find out more about what we're doing and get involved here: </p>
	<a class="about-us-btn" target="_blank" href="{% url 'newshub:about_us' %}">About Us</a></li>
	<div class="fb-page" data-href="https://www.facebook.com/camnewshub/" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/camnewshub/"><a href="https://www.facebook.com/camnewshub/">Cambridge NewsHub</a></blockquote></div></div>
	{% include 'newshub/framework/following-box.html' with feed=1%}
</ul>
