<ul class="nav nav-pills nav-stacked">
	<!--<li class="header first-header"><p>New to NewsHub?<p></li>
	<li><a href="#" class="btn btn-default">Get Started</a></li>--> <!-- NEEDS LINK -->
	<!-- <li class="header"><p>Topic of the Week<p></li>-->
	<li><p><b>Welcome to the Cambridge NewsHub. We're changing the way that student news works in Cambridge. Find out more about what we're doing and get involved <a target="_blank" href="https://docs.google.com/forms/d/1qa8GyBTr6ZUOEQ1CENQGtc_bcteJxGmM3M3MpIOyghU">here</a>.</b></p></li>
	{% include 'newshub/framework/following-box.html' with feed=1%}
</ul>
