{% extends 'newshub/framework/base.html' %}
{% block title %}
	Contact Us
{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h3><b>Contact Us</b></h3>

			<h4>General enquiries: <a href="mailto:enquiries@camnewshub.com">enquiries@camnewshub.com</a></h4>
			<h4>Report published content: <a href="mailto:report@camnewshub.com">report@camnewshub.com</a></h4>
			<h4>Platform feedback: <a href="mailto:feedback@camnewshub.com">feedback@camnewshub.com</a></h4>
		</div>
	</div>
{% endblock %}