{% extends 'newshub/framework/base.html' %}
{% block title %}
	Privacy Policy
{% endblock %}
{% block content %}

<div><strong><span style="font-size: xx-large;">Privacy Policy</span><br /><br />What personal information do we collect from the people that visit our blog, website or app?</strong></div>
<p>&nbsp;</p>
<div>When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address or other details to help you with your experience.</div>
<p>&nbsp;</p>
<div><strong>When do we collect information?</strong></div>
<p>&nbsp;</p>
<div>We collect information from you when you register on our site, respond to a survey, fill out a form or enter information on our site.</div>
<p><br /><br /></p>
<div><strong>How do we use your information?</strong></div>
<p>&nbsp;</p>
<div>We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:<br /><br /></div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>&bull;</strong>&nbsp;To personalize user's experience and to allow us to deliver the type of content and product offerings in which you are most interested.</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>&bull;</strong>&nbsp;To improve our website in order to better serve you.</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>&bull;</strong>&nbsp;To allow us to better service you in responding to your customer service requests.</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>&bull;</strong>&nbsp;To administer a contest, promotion, survey or other site feature.</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>&bull;</strong>&nbsp;To send periodic emails regarding your order or other products and services.</div>
<p>&nbsp;</p>
<div><strong>How do we protect visitor information?</strong></div>
<p>&nbsp;</p>
<div>We do not use vulnerability scanning and/or scanning to PCI standards.</div>
<div>We do not use Malware Scanning.<br /><br /></div>
<div>Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.</div>
<p>&nbsp;</p>
<div>We implement a variety of security measures when a user enters, submits, or accesses their information to maintain the safety of your personal information.</div>
<p>&nbsp;</p>
<div>All transactions are processed through a gateway provider and are not stored or processed on our servers.</div>
<p>&nbsp;</p>
<div><strong>Do we use 'cookies'?</strong></div>
<p>&nbsp;</p>
<div>Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</div>
<div><br /><strong>We use cookies to:</strong></div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>&bull;</strong>&nbsp;Understand and save user's preferences for future visits.</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>&bull;</strong>&nbsp;Keep track of advertisements.</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>&bull;</strong>&nbsp;Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third party services that track this information on our behalf.</div>
<div><br />You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a little different, so look at your browser's Help menu to learn the correct way to modify your cookies.</div>
<div><br /><strong>If users disable cookies in their browser:</strong></div>
<p>&nbsp;</p>
<div>If you disable cookies off, some features will be disabled It will turn off some of the features that make your site experience more efficient and some of our services will not function properly.</div>
<p>&nbsp;</p>
<div>However, you can still place orders
<div>Personalised Feed</div>
.</div>
<p><br /><br /></p>
<div><strong>Third Party Disclosure</strong></div>
<p>&nbsp;</p>
<div>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information.</div>
<p>&nbsp;</p>
<div><strong>Third party links</strong></div>
<p>&nbsp;</p>
<div>Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div><strong>We agree to the following:</strong></div>
<div>Users can visit our site anonymously</div>
<div>Once this privacy policy is created, we will add a link to it on our home page, or as a minimum on the first significant page after entering our website.</div>
<div>Our Privacy Policy link includes the word 'Privacy', and can be easily be found on the page specified above.</div>
<div><br />Users will be notified of any privacy policy changes:</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>&bull;</strong>&nbsp;On our Privacy Policy Page</div>
<div>Users are able to change their personal information:</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>&bull;</strong>&nbsp;By logging in to their account</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div><strong>In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:</strong></div>
<div><strong>&nbsp;</strong></div>
<div>We will notify the users via email</div>
<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>&bull;</strong>&nbsp;Within 7 business days</div>
<div><br />We also agree to the individual redress principle, which requires that individuals have a right to pursue legally enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or a government agency to investigate and/or prosecute non-compliance by data processors.</div>
{% endblock %}